* {
   margin: 0; 
   padding: 0;
}

body {
      font-family: 'Montserrat',sans-serif;
}

.header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.nav{
    position: absolute;
    top:110px;
    right: 0;
}